html{
    background-color: rgb(2, 54, 55);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.logo-container{
    padding-left: 5vw;
    display: flex;
    align-items: center;
}

.img-desc{
    border-radius: 40px;
    width: 400px;
    height: 400px; 
}

.logo{
    font-size: 30px;
    font-family: "Rajdhani";
    color: rgb(0, 252, 122);
    padding-right: 5px;
}

.second{
    font-family: "Quicksand";
    color: white;
    font-size: 20px;
    
}

.title{
    font-size: 70px;
    font-family: "Rajdhani";
    color: rgb(0, 252, 122);
    padding-left: 30px;
    margin-bottom: 0px;
}

.subtext{
    font-size: 30px;
    font-family: "Quicksand";
    color: white;
    padding-left: 30px;
    margin-top: 5px;
}

.card-title{
    font-size: 30px;
    font-family: "Quicksand";
    color: rgb(0, 252, 122);
}

.card i{
    color: rgb(0, 252, 122);
}

.desc-caption{
    font-size: 1.2vw;
    text-align: justify;
    font-family: "Quicksand";
    color: white;
    padding-left: 30px;
    margin-top: 5px;
}

.desc-card-caption{
    font-size: 1.2vw;
    text-align: justify;
    font-family: "Quicksand";
    color: white;
}

nav{
    padding: 20px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.nav-ic-container{
    position: absolute;
    right: 5vw;
}

.nav-ic-container i{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 252, 122);
    display: inline-block;
    list-style: none;
}

.section-desc{
    display: flex;
    margin-left: 5vw;
    padding-right: 5vw;
    height: 400px;
    margin-right: 0px;
    border-radius: 40px 0 0 40px;
}

.section-project{
    margin-left: 5vw;
    padding-left: 5vw;
    height: 400px;
    margin-right: 0px;
    border-radius: 40px 0 0 40px;
}


.section-cards{
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 40px;
    background-color: rgb(3, 128, 130);
    display: flex;
    height: 500px;
    margin-top: 100px;
}

.card-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-icon{
    text-align: center;
}

.card-icon i{
    font-size: 40px;
}

.card{
    border-radius: 40px;
    margin-right: calc(100vw / 3 - 500px);
    margin-left: calc(100vw / 3 - 500px);
    width: 350px;
    height: 300px;
}

footer{
    background-color: rgb(3, 128, 130);
    margin-bottom: 0;
    border-radius: 40px;
}