* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  outline: none;
}

html {
  background-color: #023637;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}

.active {
  color: #00fc7a !important;
}

.container {
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.container-closed {
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  -webkit-animation-direction: top;
          animation-direction: top;
}

.container-opened {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  -webkit-animation-direction: bottom;
          animation-direction: bottom;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    height: 1em;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
    height: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    height: 1em;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
    height: 0;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container .logo {
  font-size: 30px;
  font-family: "Rajdhani";
  color: #00fc7a;
  padding-right: 5px;
}

.logo-container .second {
  color: white;
  font-size: 20px;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
  position: fixed;
  width: 90%;
  height: 10%;
  background-color: #023637;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .nav-container .nav-menu li {
  padding: 1em;
}

nav .nav-container .nav-menu li a {
  text-decoration: none;
  color: white;
}

nav .nav-container .nav-menu li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #00fc7a;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav .nav-container .nav-menu li a:hover::after {
  width: 100%;
}

nav .nav-container .nav-menu li a:hover {
  color: #00fc7a;
}

.section-desc {
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5vw;
  padding-top: 15%;
  margin-bottom: 10%;
  height: 400px;
  margin-right: 0px;
  color: white;
}

.section-desc .section-desc-text {
  padding-left: 1em;
}

.section-desc .section-desc-text .subtext {
  font-size: 2.5em;
  margin-top: 5px;
}

.section-desc .section-desc-text .desc-caption {
  font-size: 1em;
  text-align: justify;
}

.section-desc img {
  border-radius: 40px;
  width: 400px;
  height: 400px;
}

.card {
  border-radius: 40px;
  max-width: 500px;
  padding: 2em;
}

.section-cards {
  padding-top: 5em;
  padding-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  background-color: #038082;
  margin-top: 100px;
}

.section-cards .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section-cards .card-container .card-title {
  font-size: 2em;
  color: #00fc7a;
  font-family: "Rajdhani";
  padding-top: 10px;
}

.section-cards .card-container .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-cards .card-container .card-icon .icon-container {
  background-color: #00fc7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

.section-cards .card-container .card-icon .icon-container i {
  color: #038082;
  font-size: 40px;
}

.section-cards .card-container .desc-card-caption {
  padding-top: 1em;
  font-size: 1em;
  text-align: justify;
}

.title {
  color: #00fc7a;
  font-size: 3em;
  font-family: "Rajdhani";
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

section .call-to-action {
  width: 100%;
  margin: 1em;
  margin-bottom: 3em;
}

button {
  position: relative;
  padding: 1em;
  font-size: 16px;
  border-radius: 25px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #00fc7a;
  border: 2px solid #00fc7a !important;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: #023637;
}

.fill:before {
  content: "";
  position: absolute;
  background: #00fc7a;
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: -1;
  border-radius: 25px;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
          transform: scale(1) translateX(-50%) translateY(-50%);
}

.fill:hover:before {
  width: 100%;
  height: 100%;
  border: 2px solid #00fc7a;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .section-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  width: calc(100vw/3.5);
}

.projects .section-project .card-title {
  font-size: 1.5em;
  color: #00fc7a;
  font-family: "Rajdhani";
}

.projects .section-project img {
  border-radius: 40px;
  margin-right: 1em;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer {
  background-color: #038082;
  margin-bottom: 0;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-title {
  font-size: 1.5em;
  color: #00fc7a;
  font-family: "Rajdhani";
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3em;
}

footer .footer-icons .social {
  margin-right: 10px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
          transform: scale(1) translateX(-50%) translateY(-50%);
}

footer .footer-icons .social:before {
  content: "";
  position: absolute;
  background: #00fc7a;
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: -1;
  border-radius: 15px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
          transform: scale(1) translateX(-50%) translateY(-50%);
}

footer .footer-icons .social:hover i {
  color: #038082;
}

footer .footer-icons .social:hover:before {
  width: 100%;
  height: 100%;
  border: 2px solid #00fc7a;
}

footer .footer-icons .social i {
  color: white;
  font-size: 30px;
}

@media (max-width: 768px) {
  * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-container {
    padding-top: 10px;
    padding-left: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav {
    z-index: 10;
    height: 15%;
    width: 100%;
  }
  nav .nav-menu {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .section-desc {
    margin-top: 50vh;
    width: 500px;
    padding-bottom: 30vh;
  }
  .section-desc .title {
    padding-top: 1em;
  }
  .projects .section-project {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects .section-project img {
    width: 30%;
    height: 30%;
  }
  .footer-icons {
    padding-top: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3em;
  }
}
/*# sourceMappingURL=style.css.map */